<figure class="figure">
    <img src="../../../assets/images/srk_img.jpg" class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="Shahrukh Khan Image">
    <figcaption class="figure-caption">Shahrukh Khan</figcaption>
    <figcaption class="figure-caption">Raj Vardhan Thakur</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/nayanthara_img.jpg" class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="Shahrukh Khan Image">
    <figcaption class="figure-caption">Nayanthara</figcaption>
    <figcaption class="figure-caption">Actress</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/sethupathi_img.jpg" class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="Shahrukh Khan Image">
    <figcaption class="figure-caption">Vijay Sethupathi</figcaption>
    <figcaption class="figure-caption">Kalee</figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/sanya_img.jpg" class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="Shahrukh Khan Image">
    <figcaption class="figure-caption">Sanya Malhotra</figcaption>
    <figcaption class="figure-caption">(Unknown)</figcaption>
</figure>