<figure class="figure">
    <img src="../../../assets/images/pathaan_img.jpg" class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="Shahrukh Khan Image">
    <figcaption class="figure-caption">Pathaan</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"><b>10/10</b></i></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/zero_img.jpg" class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="Shahrukh Khan Image">
    <figcaption class="figure-caption">Zero</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"><b>10/10</b></i></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/FAN_img.jpg" class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="Shahrukh Khan Image">
    <figcaption class="figure-caption">FAN</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"><b>10/10</b></i></figcaption>
</figure>

<figure class="figure">
    <img src="../../../assets/images/chennaiExpress_img.jpg" class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="Shahrukh Khan Image">
    <figcaption class="figure-caption">Chennai Express</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"><b>10/10</b></i></figcaption>
</figure>